
/* Style général pour la structure de la page */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/* Conteneur principal (wrapper) pour le contenu de la page */
main {
    flex: 1; 
}

/* Style du footer */
footer {
    background-color: #491b1c;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    font-size: 0.9em;
    border-top: 3px solid #ffc4b0; 
    margin-top: auto; 
}

/* Texte du footer */
footer p {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Style responsive */
@media (max-width: 600px) {
    footer {
        font-size: 0.8em;
        padding: 15px 0;
    }
}
